* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #F8F8F8;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.logo {
  max-width: 150px;
    max-height: 60px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.footer {
  font-size: 14px;
  color: #333;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(239, 68, 68, .3);
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
