<main>
  <app-header></app-header>
  <div class="container">
    <h1>Editar Cliente</h1>

    <form>
      <fieldset [formGroup]="dadosForm">
        <legend>Dados do Cliente</legend>
        <div class="form-row">
          <div class="form-group">
            <label for="nome">Nome*:</label>
            <input id="nome" formControlName="nome" type="text" />
          </div>

          <div class="form-group">
            <label for="fantasia">Nome Fantasia:</label>
            <input id="fantasia" formControlName="fantasia" type="text" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="tipo_pessoa">Tipo de Pessoa:</label>
            <select id="tipo_pessoa" formControlName="tipo_pessoa">
              <option value="Fisica">Física</option>
              <option value="Juridica">Jurídica</option>
            </select>
          </div>

          <div class="form-group">
            <label for="tipo_cadastro">Tipo de Cadastro:</label>
            <select id="tipo_cadastro" formControlName="tipo_cadastro">
              <option *ngFor="let tipo of tipoCadastroOptions" [value]="tipo">
                {{ tipo }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="cpf_cnpj">CPF/CNPJ:</label>
            <input id="cpf_cnpj" formControlName="cpf_cnpj" type="text" />
          </div>

          <div class="form-group">
            <label for="rg_ie">RG/IE:</label>
            <input id="rg_ie" formControlName="rg_ie" type="text" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <div class="form-row">
              <label for="ativo">
                <input id="ativo" formControlName="ativo" type="checkbox" />
                Ativo
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset [formGroup]="contatoForm">
        <legend>Dados de Contato</legend>
        <div class="form-row">
          <div class="form-group">
            <label for="email">E-mail:</label>
            <input id="email" formControlName="email" type="email" />
          </div>

          <div class="form-group">
            <label for="fone">Telefone:</label>
            <input id="fone" formControlName="fone" type="text" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="celular">Celular:</label>
            <input id="celular" formControlName="fone" type="text" />
          </div>

          <div class="form-group">
            <label for="enviar_orcamento">
              <input id="enviar_orcamento" type="checkbox" formControlName="enviar_orcamento" />
              Enviar Orçamento
            </label>
          </div>
        </div>
      </fieldset>

      <fieldset [formGroup]="enderecoForm">
        <legend>Endereço</legend>
        <div class="form-row">
          <div class="form-group">
            <label for="endereco">Endereço:</label>
            <input id="endereco" formControlName="endereco" type="text" />
          </div>

          <div class="form-group">
            <label for="endereco_numero">Número:</label>
            <input id="endereco_numero" formControlName="endereco_numero" type="text" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="endereco_bairro">Bairro:</label>
            <input id="endereco_bairro" formControlName="endereco_bairro" type="text" />
          </div>

          <div class="form-group">
            <label for="endereco_cep">CEP:</label>
            <input id="endereco_cep" formControlName="endereco_cep" type="text" />
          </div>
        </div>
      </fieldset>

      <button type="submit" (click)="onSubmit()">Salvar</button>
    </form>
  </div>
  <app-footer></app-footer>
</main>
